@using BlogTest.Models
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BlogPost>

    @*<link href="~/Content/PagedList.css" rel="stylesheet" />*@

<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <!-- Hero Slides Area -->
    <div class="hero-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img" style=" background: url('../../Images/landscape.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">You will never be forgotton!</a>
                            </div>
                            @*<h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">You will never be forgotton!</a></h2>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slide -->
        
        <div class="single-hero-slide bg-img" style="  background-image: url('../../Images/MyPic-3.png');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">Family Time</a>
                            </div>
                            @*<h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Family having Fun!</a></h2>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url('../../Images/SOAF.jpg');">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">Fun Time</a>
                            </div>
                            @*<h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Check Me out!</a></h2>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Hero Area End ##### -->
<!-- ##### Blog Wrapper Start ##### -->
<div class="blog-wrapper section-padding-100 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <!-- Single Blog Area -->
            <div class="col">
                <div class="single-blog-area clearfix mb-100">

                    @foreach (var post in Model)
                    {
                        <div class="row ">
                            @Html.Hidden(post.Id.ToString())
                            <div class="col col-md-6 col-lg-4">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">@post.Title</a>
                                    <h4><a href="#" class="post-headline">@post.Abstract</a></h4>
                                    <p>Ben Added this on @post.Created.ToString("MMM dd, yyyy");</p>
                                    <a> @Html.ActionLink("Read More", "Details", "BlogPosts", new { post.Slug }, new { @class = "nav-link btn original-btn" })</a>
                                </div>
                            </div>
                            <div class="col col-md-6 col-lg-4">
                                <div class="single-catagory-area clearfix mb-100">
                                    @if (post.MediaURL != null)
                                    {
                                        <img class="img-respnsive" src="@post.MediaURL " alt"" />
                                    }
                                    else
                                    {
                                        <img src="~/Images/FamilyFun.jpg" />
                                    }
                                    @*Catagory Title
                        <div class="catagory-title">
                            <a href="#">Soon tobe post.MediaUrl</a>
                        </div>*@
                                </div>
                            </div>
                        </div>

                    }
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
                </div>
            </div>

           
            <div>
            </div>
        </div>
    </div>
</div>



